In [27]:
from calculate import parse_collected_gsd,  calculate_real_area,calculate_production

ImportError: cannot import name 'calculate_real_area' from 'calculate' (c:\Users\ihyun\Project\jeju\final_version\calculate.py)

In [2]:
dataset_folder_path = 'dataset'
results = parse_collected_gsd(dataset_folder_path)
for result in results:
    print(f'File path: {result[0]}, Column: {result[1]}, Row: {result[2]}')

File path: dataset\K3A_20200504045549_28203_00042683_L1R_Aux.xml, Column: 0.748, Row: 0.663

In [4]:
print(results)

[('dataset\\K3A_20200504045549_28203_00042683_L1R_Aux.xml', 0.748, 0.663)]

In [6]:
import pandas as pd

# csv 파일 경로
csv_file_path = 'prediction_left_3_result_128128.csv'

# csv 파일 읽기
df = pd.read_csv(csv_file_path, index_col=0)

In [7]:
df

           0  1     2  3  4  5  6      7     8
tile_0     0  0  1529  0  0  0  0  11036  3819
tile_1     0  0  1432  0  0  0  0  11244  3708
tile_2     0  0  1491  0  0  0  0  11196  3697
tile_3     0  0  1473  0  0  0  0  11261  3650
tile_4     0  0  1444  0  0  0  0  11314  3626
...       .. ..   ... .. .. .. ..    ...   ...
tile_3157  0  0  1417  0  0  0  0  11359  3608
tile_3158  0  0  1424  0  0  0  0  11416  3544
tile_3159  0  0  1393  0  0  0  0  11513  3478
tile_3160  0  0  1391  0  0  0  0  11538  3455
tile_3161  0  0  1399  0  0  0  0  11516  3469

[3162 rows x 9 columns]

In [22]:
product_dict = {
    '0': 0,
    '1': 6.960,
    '2': 3.399,
    '3': 5.885,
    '4': 1.400,
    '5': 5.705,
    '6': 0,
    '7': 0,
    '8': 0
}

csv_file_path = 'prediction_left_3_result_128128.csv'
dataset_folder_path = 'dataset'

production_df = calculate_production(csv_file_path, dataset_folder_path, product_dict)
print(production_df)

     0    1             2    3              4    5    6    7    8
0  0.0  0.0  7.633625e+06  0.0  225963.406469  0.0  0.0  0.0  0.0